* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'main' !important;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-SemiBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Nohemi-Black.ttf');
    font-weight: 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    font-family: "main", sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

table {
    border-collapse: collapse;
    text-align: center;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
    background-color: transparent;
    border-radius: 50px;
}


::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
}

::-webkit-scrollbar:horizontal {
    height: 7px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

input {
    font-family: "main", sans-serif;
}


.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

@media(min-width : 576px) {
    .container {
        width: 540px;
        padding: 0;
    }
}

@media(min-width : 768px) {
    .container {
        width: 720px;
    }
}

@media(min-width : 992px) {
    .container {
        width: 960px;
    }
}

@media(min-width : 1200px) {
    .container {
        width: 1140px;
    }
}

@media(min-width : 1400px) {
    .container {
        width: 1320px;
    }
}